#Установите СУБД MySQL.
#Создайте в домашней директории файл .my.cnf, задав в нем логин и пароль, который указывался при установке.
[client]
user=root
password=dfnasjdHjsdlq

#скриншот подтверждения установленной БД в папке lesson2 (ставил на mac)
